.Page-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #add8e6; /* Hellblau */
  color: white; /* Weiße Schrift */
  font-size: 1.2rem;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
}

.Page-list li {
  padding: 8px 0;
  border-bottom: 1px solid white;
}

.Page-list li:last-child {
  border-bottom: none;
}

.Footer {
  background-color: #add8e6; /* Hellblau */
  color: white; /* Weiße Schrift */
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}